body{
    
    background-color: white;

    background-image: url("imgs/19366.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.imgback{
    position: absolute;
    
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
}

header > img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.paginas{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    box-sizing: border-box;
}

.paginas ul{
    width: 80%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.paginas ul li{
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: #1168D9;
    border-radius: 10px;

}
.paginas ul li a{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    
    border-radius: 10px;
    color: black;
    cursor: pointer;
    text-align: center;
    white-space: pre-wrap;
    
}
.dias{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    box-sizing: border-box;
}
.dias ul{
    width: 80%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.dias ul li{
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: #F2C438;
    color: #000;
    border-radius: 10px;

}

main{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sorteio{
    max-width: 1000px;
    min-width: 600px;
    height: 300px;
    width: auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid #F2C438 ;
    border-radius: 20px;
    background-color: rgb(red, green, blue);
}
h2{
    color: black;
}
.Botao{
    border: 3px solid #F2C438;
    border-radius: 20px;
    height: 50px;
    width: 50%;display: flex;
    align-items: center;
    justify-content: center;
    
}

#sortear,h1{
    font-family: 'Secular One', sans-serif;
}
#email,#nome-ganhador{
    font-family: 'Lato', sans-serif
}

.hidden{
     
    display: none;
}